body{
  padding: 0;
  width: 960px;
  margin: 0 auto;
  background: url(../img/picture.jpg) no-repeat;
  background-size: cover;
  color: orange;
  font-family: Arial, sans-serif;

}
label{
  cursor: pointer;
}
.column,
.column1{
  display: inline-block;
  margin: 50px 0;
  padding: 20px;
  width: 900px;
  height: 400px;
  z-index: 1;
  border-radius: 20px;
  background: url(../img/wrapper1.jpg)no-repeat;
  background-size: cover;
  filter: drop-shadow(1px 2px 10px rgba(255,255,0,0.3));
}
.column1{
  display: inline-block;
  margin: 50px 0;
  padding: 20px;
  width: 900px;
  height: 400px;
  z-index: 1;
  border-radius: 20px;
  background: url(../img/wrapper.jpg)no-repeat;
  background-size: cover;
  filter: drop-shadow(1px 2px 10px rgba(255,255,0,0.3));
}
.column h1,
.column h2,
.column1 h3{
  display: inline-block;
  width: 900px;
  height: 20px;
  text-align: center;
}
.column h2{
  height: 160px;
}
.column1 h3{
  height: 0px;
  color: mediumpurple;
  font: 20px bold;
}
.column1 h4{
  text-align: center;
  color: greenyellow;
  font: 20px bold;
}
.column a{
  display: inline-block;
  width: 112px;
  margin: 260px 90px;
}
.column a:hover{
  filter: drop-shadow(1px 2px 10px rgba(255,255,0,0.3));
}
.first{
  width: 110px;
  height: 50px;
}
.first1 p{
  display: inline-block;
  margin: 50px 100px;
}
.bottom{
  padding: 5px 26px;
  text-decoration: none;
  color: wheat;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
  background-image: linear-gradient(red, gold);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.easy,
.medium,
.hard{
  display: inline-block;
  width: 110px;
  height: 36px;
  color: #fff;
  background-image: linear-gradient(#c9017b, #2c000d);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.medium{
  background-image: linear-gradient(#0048d2, #030221);
}
.hard{
  background-image: linear-gradient(#db6607, #2f0a02);
}
.traing{
  text-align: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#c9017b, #2c000d);
  color: #fff;
}
.count{
  display: center;
}
.finish p{
  margin: 208px 175px;
  color: #0048d2;
  font-weight: bold;
  text-align: center;
}
.ikonka1,
.ikonka2{
  display: inline-block;
  width: 110px;
  height: 36px;
  color: #fff;
  background-image: linear-gradient(#0048d2, #030221);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.ikonka2{
  background-image: linear-gradient(#db6607, #2f0a02);
}
.back input{
  display: inline-block;
  margin-top: 0px;
  width: 110px;
  height: 36px;
  color: #fff;
  background-image: linear-gradient(#c9017b, #2c000d);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
